node_modules/
.next/
.DS_Store
.env
.env.local
out/
coverage/
*.log
*.tsbuildinfo
package-lock.json
dist/
.vscode/
.idea/
*.swp
*.swo
*.tgz
*.zip
*.bak
*.old
npm-debug.log
yarn-debug.log
yarn-error.log
build/
.cache/
turbo/
*.pem

